[Desktop Entry]
Name=RReader
Comment=PDF and DJVU documents reader
Exec=/usr/bin/RReader
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Office
Icon=RReader
Name[en_US]=RReader
